//css sidebar
.block{
    background-color: #eaecf4;
}

//css form ticket
.image-upload{
    .delete-image{
        margin: 10px 0 0 10px;
        position: absolute;
        z-index: 999;
    }
    .image-display{
        position: relative;
    }
}