.effects {
  word-break: break-all;
}

.line-clamp-content{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.line-clamp-title-1{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.line-clamp-title-2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.line-clamp-title-3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.image-upload{
  .delete-image{
      margin: 10px 0 0 10px;
      position: absolute;
      z-index: 999;
  }
  .image-display{
      position: relative;
  }
}

.form-floating{
  margin-bottom: 30px;
  .question_id{
    margin-bottom: 0;
  }
  .title{
    margin-bottom: 0;
  }
  .content{
    margin-bottom: 0;
  }
}

.btn.btn-logout{
  background: #FF0000;
  border: 2px solid transparent;
  border-radius: 100px;
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.btn.btn-logout:hover{
  background: #770000;
}

.form-floating{
  .form-control{
    border-radius: 100px;
    padding: 0 20px;
  }
}