.effects {
  word-break: break-all;
}

.line-clamp-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.line-clamp-title-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.line-clamp-title-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.line-clamp-title-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.image-upload-update-user-client .delete-image-update-user-client {
  margin: 10px 0 0 10px;
  position: absolute;
  z-index: 999;
}
.image-upload-update-user-client .image-display-update-user-client {
  position: relative;
}

.image-upload-create-ticket-client .delete-image-create-ticket-client {
  margin: 10px 0 0 10px;
  position: absolute;
  z-index: 999;
}
.image-upload-create-ticket-client .image-display-create-ticket-client {
  position: relative;
}

.form-floating {
  margin-bottom: 30px;
}
.form-floating .question_id {
  margin-bottom: 0;
}
.form-floating .title {
  margin-bottom: 0;
}
.form-floating .content {
  margin-bottom: 0;
}

.btn.btn-danger {
  border: 2px solid transparent;
  border-radius: 100px;
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
}

.btn.btn-secondary {
  border: 2px solid transparent;
  border-radius: 100px;
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
}

.btn.btn-danger:hover {
  background: #770000;
}

.btn.btn-secondary:hover {
  background: #d2d2d2;
}

.form-floating .form-control {
  border-radius: 100px;
  padding: 0 20px;
}
